<div class="row">
    <div class="col-md-12 mt-3">
        <table class="table table-bordered data-tabela-default">
            <thead class="bg-azul text-white">
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Perfil</th>
                    <th style="width: 120px"></th>
                </tr>
            </thead>
            <tbody>
                {% for item in usuarios %}
                    <tr id="linha-{{item.id}}">
                        <td>{{ item.nome }}</td>
                        <td>{{ item.email }}</td>
                        <td>{{ item.perfil }}</td>
                        <td>
                            <a href="{{base_url}}usuarios/edit/{{item.id}}" class="btn   ">
                                <img src="{{base_url}}img/icon_edit.png" width="33" alt="">
                            </a>
                            <a data-id="{{item.id}}" class="btn btn-del">
                                <img src="{{base_url}}img/icon_delete.png" width="33" alt="">
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                
            </tbody>
        </table>
    </div>
</div>